<p>todos works!</p>

<!--
<ng-container *ngIf="false" >
    <p [ngClass]="color">Hello {{nombre}}</p>
    <p *ngIf="cargando" >Cargando...</p>
    <p>Cambios {{cambios}}</p>
</ng-container>
        <button mat-raised-button  (click)="cambiarColor()"> Cambiar Color </button>
-->
<h1>Todos</h1>
<a mat-flat-button color="primary" routerLink="new">New Todos</a>

<ul  *ngIf="!error">
    <li *ngFor="let item of todos">{{item.title}} {{item.description}}</li>
</ul>

<p *ngIf="error">Ocurrcio un error, intente mas tarde </p>