.overlay {
    text-align: center;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   // display: none;

    mat-spinner{
        margin: auto;
        position: absolute;
        left:50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;

    }
    &.hidden {
        display: none;
    }


    span {
        display: block;
        margin: 50px;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
}